* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.center-x {
    text-align: center;
}
.login-box, .register-box {
    width: 300px;
    margin: 150px auto;
}
.login-font, .register-font {
    font-size: 30px;
    color: #409EFF;
}